<%- include("partials/header") %>

<div class="container2">
    <div class="title">Thank You for filling the form!</div>
    <div class="subtitle">Your response has been successfully recorded!</div>
</div>

<%- include("partials/footer") %>
