<%- include("partials/header") %>

<div class="container2">
    <div>Thank You for filling the form!</div>
    <div>Your response has been successfully submitted!</div>
</div>

<%- include("partials/footer") %>
